@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Quando&display=swap");
.text-intro, .text-us {
  font-family: "Judson", serif;
  color: #DFBA69; }

.text-us {
  font-size: 1.5em; }

.font-quando {
  font-family: "Quando", serif;
  font-weight: 400; }

.font-judson {
  font-family: "Judson", serif; }

.text-beige {
  color: #DFBA69; }

.text-brown {
  color: #5A2E2E; }

.text-grey {
  color: #3E4147; }

.text-border {
  text-shadow: 0 0 2px black; }

@media only screen and (max-width: 360px) {
  #text-small {
    font-size: 1em !important; } }

* {
  margin: 0;
  padding: 0; }

.btn-grey {
  background-color: #3E4147; }
  .btn-greyhover {
    color: #5A2E2E !important; }

#body {
  background-image: url(../img/grey.webp); }

.bg-nav {
  background-image: url(../img/grains-background.png); }

.bg-foot {
  background-image: url(../img/grains-background-footer.png); }

.bg-beige {
  background-color: #DFBA69; }

.bg-menu {
  background-color: rgba(223, 186, 105, 0.5);
  height: 60vh; }

.borde-brown {
  border: 3px solid #5A2E2E; }

.borde__intro {
  border: 2px dashed #DFBA69; }

.borde__titles {
  border: 2px dotted #5A2E2E; }

.borde-grey {
  border: 1px solid #2A2C31; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 1rem; }
  .redes a {
    color: #DFBA69; }
    .redes a img {
      color: #DFBA69; }
      .redes a img:hover {
        transform: scale(1.2); }

@media only screen and (min-width: 768px) {
  #w-100 {
    width: 100% !important; } }

.bg-404 {
  background-image: url(../img/bg404-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.conteiner-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #DFBA69; }

.img-404 {
  width: 50%;
  margin: 0;
  padding: 0; }

.hover:hover {
  color: #DFBA69; }
