* {
  margin: 0;
  padding: 0;
}

.btn-grey {
  background-color: $keyColor;
    &hover {
      color: $secondColor !important;
  }
}

// backgrounds

#body {
  background-image: url(../img/grey.webp);
}

.bg-nav {
  background-image: url(../img/grains-background.png);
}

.bg-foot {
  background-image: url(../img/grains-background-footer.png);
}

.bg-beige {
  background-color: $mainColor;
}

.bg-menu {
  background-color: $opColor;
  height: 60vh;
}

// borders

.borde-brown {
  border: 3px solid $secondColor;
}

.borde__intro {
  border: 2px dashed $mainColor;
}

.borde__titles {
  border: 2px dotted $secondColor;
}

.borde-grey {
  border: 1px solid map-get($map: $paleta, $key:"cinco");
}

// redes footer

.redes {
  @include flex (flex, row, space-evenly);
  width: 80%;
  margin-top: 1rem;
    a {
      color: $mainColor;
      img {
        color: $mainColor;
        &:hover {
        transform: scale(1.2);
      }
    }
  }
}


// responsive

@media only screen and (min-width: 768px) {
  #w-100 {
      width: 100% !important;
  }
}

